<header>
  <div class="bg-light py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12 text-center text-md-start">
          <span> Super Value Deals - Save more with coupons</span>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar navbar-light py-lg-4 pt-3 px-0 pb-0">
    <div class="container">
      <div class="row w-100 align-items-center g-lg-2 g-0">
        <div class="">
          <div class="d-flex justify-content-between w-100">
            <a class="navbar-brand" routerLink="/">
              <img
                src="assets/images/logo/freshcart-logo.svg"
                alt="eCommerce HTML Template"
              />
            </a>

            <!-- WISHLIST & SHOPPING CART -->
            <div
              class="col-md-2 col-xxl-2 ms-auto me-4 me-md-0 d-flex justify-content-end align-items-center"
            >
              <div class="list-inline">
                <!-- whishlist -->
                <div class="list-inline-item">
                  <a
                    class="text-muted position-relative"
                    [routerLink]="'/wishlist'"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-heart"
                    >
                      <path
                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                      ></path>
                    </svg>
                    <ng-container
                      *ngIf="
                        wishlistProductsIds$ | async as wishlistProductsIds
                      "
                    >
                      <span
                        *ngIf="wishlistProductsIds.length > 0"
                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
                      >
                        {{ wishlistProductsIds.length }}
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </ng-container>
                  </a>
                </div>
                <!-- shopping cart -->
                <div class="list-inline-item">
                  <a
                    (click)="showShoppingCart()"
                    class="text-muted position-relative"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight"
                    role="button"
                    aria-controls="offcanvasRight"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-shopping-bag"
                    >
                      <path
                        d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"
                      ></path>
                      <line x1="3" y1="6" x2="21" y2="6"></line>
                      <path d="M16 10a4 4 0 0 1-8 0"></path>
                    </svg>

                    <ng-container
                      *ngIf="
                        shoppingCartProductsIds$
                          | async as shoppingCartProductsIds
                      "
                    >
                      <span
                        *ngIf="shoppingCartProductsIds.length > 0"
                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
                      >
                        {{ shoppingCartProductsIds.length }}
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </ng-container>
                  </a>
                </div>
              </div>
            </div>
            <!--  -->

            <div class="d-flex d-md-none align-items-center lh-1">
              <!-- Button -->
              <button
                (click)="onClickHamburgerMenu()"
                class="navbar-toggler"
                [ngClass]="{ collapsed: isCollapsed$ | async }"
                type="button"
                aria-controls="navbar-default"
                aria-label="Toggle navigation"
              >
                <span class="icon-bar top-bar mt-0"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="nav d-none d-md-flex">
          <li *ngFor="let item of categories$ | async" class="nav-item">
            <a
              [routerLink]="'categories/' + item.id"
              class="nav-link py-1 ps-1"
              >{{ item.name }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="border-bottom pb-lg-4 pb-3">
  <nav class="navbar navbar-expand-lg navbar-light navbar-default pt-0 pb-0">
    <div class="container px-0 px-md-3">
      <div
        class="offcanvas offcanvas-start p-4 p-lg-0 d-md-none"
        [ngClass]="{ show: !(isCollapsed$ | async) }"
      >
        <div
          class="d-flex justify-content-between align-items-center mb-2 d-block d-lg-none"
        >
          <a routerLink="/"
            ><img
              src="assets/images/logo/freshcart-logo.svg"
              alt="eCommerce HTML Template"
          /></a>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="onClickHamburgerMenu('close')"
          ></button>
        </div>
        <div class="d-block d-md-none">
          <ul class="navbar-nav">
            <li *ngFor="let item of categories$ | async" class="nav-item">
              <a
                class="nav-link"
                [routerLink]="'categories/' + item.id"
                role="button"
                >{{ item.name }}</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
