<div class="card mb-4 bg-light border-0">
  <!-- card body -->
  <div class="card-body p-9" *ngIf="category">
    <h2 class="mb-0 fs-1">{{ category.name }}</h2>
  </div>
</div>
<!-- text -->
<div class="d-lg-flex justify-content-between align-items-center">
  <div class="mb-3 mb-lg-0">
    <p class="mb-0">
      <span class="text-dark">{{ products?.length || 0 }} </span> Products found
    </p>
  </div>
  <app-products-content-sorting></app-products-content-sorting>
</div>

<!------ PRODUCTS ------>
<div
  *ngFor="let item of productsToDisplay$ | async"
  class="row g-4 row-cols-1 mt-2"
>
  <div class="col">
    <!-- card -->
    <div class="card card-product">
      <!-- card body -->
      <div class="card-body">
        <div class="row align-items-center">
          <!-- col -->
          <div class="col-md-4 col-12">
            <div class="text-center position-relative">
              <!-- img -->
              <img
                class="mb-3 img-fluid"
                [src]="'.' + item.imageUrl"
                [alt]="item.name"
              />
            </div>
          </div>
          <div class="col-md-8 col-12 flex-grow-1">
            <!-- heading -->
            <div class="text-small mb-1">
              <small *ngIf="category" class="text-decoration-none text-muted">{{
                category.name
              }}</small>
            </div>
            <h2 class="fs-6 text-inherit text-decoration-none">
              {{ item.name }}
            </h2>
            <div>
              <!-- rating -->
              <small *ngIf="item.ratingStars as star" class="text-warning">
                <i *ngFor="let i of star.fill" class="bi bi-star-fill"></i>
                <i *ngFor="let i of star.half" class="bi bi-star-half"></i>
                <i *ngFor="let i of star.empty" class="bi bi-star"></i>
              </small>
              <span class="text-muted small"
                >{{ item.ratingValue }}({{ item.ratingCount }})</span
              >
            </div>
            <div class="mt-6">
              <!-- price -->
              <div>
                <span class="text-dark">{{
                  item.price | currency : "USD" : "symbol" : "1.0-0"
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PAGINATION -->
<div
  *ngIf="productsToDisplay$ | async as productsToDisplay"
  class="row row-cols-2 mt-8"
>
  <ng-container *ngIf="productsToDisplay.length > 0">
    <ng-container
      [formGroup]="paginationForm"
      *ngIf="pageOptions$ | async as pageOptions"
    >
      <nav>
        <p class="fw-bold mb-1">Limit</p>
        <ul
          formControlName="limit"
          ngDefaultControl
          class="pagination pagination-md"
        >
          <li
            [value]="item"
            class="page-item"
            *ngFor="let item of pageLimit$ | async"
          >
            <a
              (click)="onPageOptionsChange(item, 'limit')"
              class="page-link cursor-pointer"
              [ngClass]="{ active: pageOptions['limit'] === item }"
              >{{ item }}</a
            >
          </li>
        </ul>
      </nav>
      <nav>
        <p class="fw-bold mb-1">Pagination</p>
        <ul
          formControlName="pagination"
          ngDefaultControl
          class="pagination pagination-sm"
        >
          <li
            [value]="item"
            class="page-item"
            *ngFor="let item of pages$ | async"
          >
            <a
              (click)="onPageOptionsChange(item, 'pagination')"
              class="page-link cursor-pointer"
              [ngClass]="{ active: pageOptions['pagination'] === item }"
              >{{ item }}</a
            >
          </li>
        </ul>
      </nav>
    </ng-container>
  </ng-container>
</div>
