<section class="my-lg-14 my-8">
  <div class="container">
    <h5 class="row fw-bold fs-4 text-dark p-3">Shop by Category</h5>
    <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-5">
      <div *ngFor="let item of categories$ | async" class="col">
        <a
          [routerLink]="'categories/' + item.id"
          class="text-decoration-none text-inherit"
          ><!-- card -->
          <div class="card card-product">
            <div class="card-body text-center py-8">
              <!-- img -->
              <img
                [src]="'.' + item.imageUrl"
                [alt]=""
                class="mb-3"
              /><!-- text -->
              <div class="text-truncate">{{ item.name }}</div>
            </div>
          </div></a
        >
      </div>
    </div>
  </div>
</section>
