<section class="my-8">
  <div class="container">
    <div *ngIf="store$ | async as item" class="row">
      <!-- Store Info -->
      <div class="flex-row align-items-center py-0 ps-0 pe-4 col col-3">
        <div class="ms-6">
          <img
            [src]="'.' + item.logoUrl"
            [alt]="item.name"
            class="rounded-circle icon-shape icon-xl mb-3"
          />
          <h5 class="mb-1">
            <a class="text-inherit">{{ item.name }}</a>
          </h5>
          <div class="small text-muted">
            It is only {{ item.distanceInMeters }} km away from you!
          </div>
        </div>
      </div>
      <!-- Store Search -->
      <div
        class="mb-8 bg-light d-lg-flex justify-content-lg-between rounded g-2 col col-9"
      >
        <div class="align-self-center p-8">
          <div class="mb-3">
            <h5 class="mb-0 fw-bold">{{ item.name }}</h5>
            <p class="mb-0 text-muted">
              Whatever the occasion, we've got you covered.
            </p>
          </div>
          <div class="position-relative">
            <!-- SEARCH INPUT -->
            <input
              class="form-control"
              [formControl]="searchProductForm"
              placeholder="Search {{ item.name }}"
            />
            <span class="position-absolute end-0 top-0 mt-2 me-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-search"
              >
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
              </svg>
            </span>
          </div>
        </div>
        <!-- img -->
        <div class="py-4">
          <img
            src="assets/images/svg-graphics/store-graphics.svg"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- Products -->
  <div class="container">
    <h5 class="row fw-bold fs-4 text-dark p-3">Products:</h5>
    <div class="row row-cols-2 row-cols-lg-4 row-cols-xl-6 g-2">
      <div *ngFor="let item of products$ | async" class="col">
        <div class="text-center mb-10">
          <div class="card card-product">
            <!-- img -->
            <img
              [src]="'.' + item.imageUrl"
              [alt]="item.name"
              class="rounded"
            />
            <div class="card-product-action">
              <a
                (click)="addProductToWishlist(item.id)"
                class="btn-action cursor-pointer mx-1"
                data-bs-toggle="tooltip"
                data-bs-html="true"
                aria-label="Wishlist"
                data-bs-original-title="Wishlist"
                ><i class="bi bi-heart"></i
              ></a>
              <a
                (click)="addProductToShoppingCart(item.id)"
                class="btn-action cursor-pointer mx-1"
                data-bs-toggle="tooltip"
                data-bs-html="true"
                aria-label="ShoppingCart"
                data-bs-original-title="ShoppingCart"
                ><i class="bi bi-cart-plus"></i
              ></a>
            </div>
          </div>

          <!-- text -->
          <div class="mt-4">
            <h5 class="fs-6 mb-0">
              <a class="text-inherit">{{ item.name }}</a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
